.choice_content .option_container {
    gap: 50px;
}

.choice_content .option_container img {
    width: 130px;
    padding: 30px;
}

/* Pop up */
.popup_content {
    position: absolute;
    left: calc(50% - 270px);
}

.popup_container {
    gap: 50px;
}

.popup_content img {
    width: 130px;
    padding: 30px;
}

/* Footer */
footer p {
    margin-top: 20px;
}